<div class="section">
  <div class="header">
    <h1 class="text-3xl font-bold underline">
      GitHub Repositories
    </h1>
  </div>
  <div class="btn-class">
    <%= link_to 'Create new repo', form_page_path, class:'border' %>
  </div>

  <div class="content-repo">
    <% @repos.each do |repo| %>
      <p class="btn-repo-name">
        <%= link_to repo.name, repository_path(repo.id) %>
      <p>
        Created on: <%= repo.created_at.in_time_zone("Australia/Sydney").strftime("%A, %d %B %Y %Z") %>
      </p>
      <hr>
    <% end %>
  </div>
</div>
